.analisis-productos-container {
    padding: 20px;
    font-family: Arial, sans-serif;
    color: #333;
  }
  
 
  .pivote-contenedor {
    max-height: 500px; /* Altura máxima para evitar que ocupe todo el espacio */
    overflow: auto; /* Scroll si el contenido excede el tamaño */
    border: 1px solid #ccc; /* Borde alrededor de la tabla */
    border-radius: 8px;
    padding: 10px;
    background-color: #f9f9f9;
  }
  
 
  .pivottable {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
  }
  
  
  .pivottable th {
    background-color: #007bff; /* Azul claro para encabezados */
    color: white;
    text-align: center;
    padding: 8px;
    border: 1px solid #ddd;
  }
  
  
  .pivottable td {
    text-align: center;
    padding: 8px;
    border: 1px solid #ddd;
    word-wrap: break-word;
  }
  
  
  .pivottable tr:hover {
    background-color: #f1f1f1;
  }
  