.custom-tabulator {
  border-radius: 10px; 
  overflow: hidden; 
  border: 1px solid #ccc; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  border-collapse: collapse;
  font-family: Arial, Helvetica, sans-serif;
  
    }

  .calendario{
    font-family:'Quicksand', Helvetica, Arial, Lucida, sans-serif; 
    border-radius: 5px; 
    padding: 1px 8px; 
    width: 185px; 
    border: 1px solid #ccc; 
    font-size: 13px; 
    outline: none; 
  }

  .calendario:hover{
    border: 1px solid #08244c; 

  }


 .custom-tabulator .tabulator-header {
    color: white;
    font-weight: bold;
    text-transform: uppercase;
  }
  
 
  .custom-tabulator .tabulator-row {
    background-color: #f5faff; 
  }
  
  .custom-tabulator .tabulator-row:nth-child(even) {
    background-color: #eaf4fc; 
  }
  
  
  .highlight-low {
    color: white;
    background-color: red;
    font-weight: bold;
    padding: 2px 4px;
    border-radius: 4px;
  }
  
  
  .custom-tabulator .tabulator-header .tabulator-header-filter input {
    border-radius: 5px; 
    border:0px solid #ccc;
    padding: 6px;
    outline: none;
    transition: all 0.3s ease;
  }

  .custom-tabulator .tabulator-col-resize-handle {
  margin-left: 1 !important; 
  margin-right: 1 !important; 
}
  
  .custom-tabulator .tabulator-header .tabulator-header-filter input:focus {
    border-color: #0078D7;
    box-shadow: 0 0 5px rgba(0, 120, 215, 0.5);
  }

  .tabulator .tabulator-header .tabulator-col  {
    background-color:  #002149 !important;
  }

    .tabulator-header-contents{
    background-color:  #002149  !important;
  }

  .header-empresaria {
    font-family:'Quicksand', Helvetica, Arial, Lucida, sans-serif; 
    font-size: 24px; 
    font-weight: bold; 
    color: #08244c; 
    margin-bottom: 24px;
    text-transform: uppercase; 
    letter-spacing: 0px; 
  }
  
  select, button {
    color: #08244c;
    font-family:'Quicksand', Helvetica, Arial, Lucida, sans-serif;
    font-size: 15px;
    border-radius: 8px;
    padding: 8px 10px;
    border: 0px solid transparent; /* Ajusta el color y grosor del borde */
    background-color: rgba(150, 180, 210, 0.5);
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
 } 

  button:hover {
      
    border: 1px solid #08244c; }

 
 .tituloBoton {
  font-family: Helvetica, Arial, Lucida, sans-serif;
  margin-Left: 5px;
  font-size: 15px;

 }

 .tabla{
 
    border-radius: 10px;
    border-collapse: separate;  /* Para asegurarse de que los bordes no se solapen */
    border: 2px solid #000; /* Ajusta el color y grosor de los bordes según prefieras */
 }

